.header__flags {
    flex-grow: 2;
    display: flex;
    align-items: center;
    min-height: $minHeaderHeight;

    span {
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        align-items: stretch;

        img {
            cursor: pointer;
            transition: .3s all;
            width: 30%;

            &:hover {
                width: 35%;
            }
        }
    }
}
