#main-section {
    height: 94vh;
    background-image: url(../../assets/images/homeBackground.jpg);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 35%;
    align-items: center;
    justify-content: center;
}


.presentation-card {
    background-color: darken($presentation-cardBackgroundColor, 5%);
    color: rgb(44, 44, 44);
    border-radius: 10px;
    transition: 2s opacity;
}

.presentation-card__header {
    background-color: $presentation-cardBackgroundColor;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px 10px 20px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "title picture"
        "info picture"
        "links links";

    
    
    // --------
    div:nth-child(1) {
        grid-area: title;
        
        p {
            font-size: 1.5em;
            font-weight: bold;
        }
    }

    div:nth-child(2) {
        grid-area: info;

        p {
            margin-bottom: 3px;
        }
        
        p:nth-child(2) {
            
            font-weight: bold;
        }
    }

    div:nth-child(3) {
        grid-area: picture;
        
        img {
            border-radius: 10px;
            width: 110px;
        }
    }

    div:nth-child(4) {
        grid-area: links;
        font-size: 1em;
        font-weight: bold;
        color: black;
        padding-bottom: 5px;

        svg {
            cursor: pointer;
            margin-right: 10px;
            fill: rgb(78, 75, 76);
        }

        .instagram-logo:hover {
            fill: rgb(199, 37, 67);
        }

        .twitter-logo:hover {
            fill: rgb(147, 197, 253);
        }

        .linkedin-logo:hover {
            fill: rgb(59, 130, 246);
        }

        .github-logo:hover {
            fill: rgb(150, 117, 201);
        }

        .youtube-logo:hover {
            fill: rgb(255, 0, 0);;
        }
    }

    // --------
    
}

.presentation-card__description {
    margin: 20px;
}





@include rwd(medium){
    #main-section {
        background-image: url(../../assets/images/homeBackground-mobile.jpg);
        grid-template-columns: 80%;
    }

    .presentation-card {
        font-size: 2em;
    }

    .presentation-card__header {        
        grid-template-areas: 
            "title"
            "picture"
            "info"
            "links";

        div {
            text-align: center;
        }

        div:nth-child(4) {
            margin-top: 15px;
    
            .instagram-logo {
                fill: rgb(199, 37, 67);
            }
    
            .twitter-logo {
                fill: rgb(147, 197, 253);
            }
    
            .linkedin-logo {
                fill: rgb(59, 130, 246);
            }
    
            .github-logo {
                fill: rgb(150, 117, 201);
            }
    
            .youtube-logo {
                fill: rgb(255, 0, 0);;
            }
        }
    }
}
