#experience-section {
    background-color: #202020;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.experience-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 70%;
    transition: 0.5s opacity;
    

    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1.5em; 
        padding: 20px;
        border-radius: 10px;
        text-align: justify;;

    }
}


.position, .certification, otrasActividades {
    width: 100%;
    font-size: 2em;
}