body{
  background-color: #e0e0e0;
}


/* Menu stuff */
#mainMenu{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

#mainMenu ul{
  background-color: #2586d7;
  display: flex;
  padding: 0;
  margin: 0;
}

#mainMenu ul li{
  text-align: center;
  flex-grow: 1;
  list-style: none;
}

#mainMenu ul li a{
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bolder;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
  text-decoration: none;
  transition: all .2s;
  width: 80%;
}

#mainMenu ul li a:hover{
  background-color: #1f72b7;
  width: 100%;
}




.componentContainer{
  height: 100%;
  width: 100%;
  position: absolute;
}

.componentContainer-home{
  background-image: url('../public/images/hola.jpg');
  background-size: 100% 100%;

  color: white;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}







/*  https://css-tricks.com/snippets/css/typewriter-effect/  */
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

















/* Transition stuff */
.fade-enter {
  left: 100%;
}
.fade-enter-active {
  left: 0%;
  transition: all 1000ms;
}
.fade-exit {
  right: 0%;
}
.fade-exit-active {
  right: 100%;
  transition: all 1000ms;
}
