body{
  background-color: #e0e0e0;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




/* Transition stuff */
.fade-enter {
  left: 100%;
}
.fade-enter-active {
  left: 0%;
  transition: all 1000ms;
}
.fade-exit {
  right: 0%;
}
.fade-exit-active {
  right: 100%;
  transition: all 1000ms;
}









/* Menu stuff */
#mainMenu{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

#mainMenu ul{
  background-color: #2586d7;
  display: flex;
  padding: 0;
  margin: 0;
}

#mainMenu ul li{
  text-align: center;
  flex-grow: 1;
  list-style: none;
}

#mainMenu ul li a{
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bolder;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
  text-decoration: none;
  transition: all .2s;
  width: 80%;
}

#mainMenu ul li a:hover{
  background-color: #1f72b7;
  width: 100%;
}




.componentContainer{
  height: 100%;
  width: 100%;
  position: absolute;
}

.componentContainer-home{
  background-image: url('../public/images/homeBackground.jpg');
  background-size: 100% 100%;

  color: white;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
}




.typewriter {
  display: flex;
  flex-direction: column;
}

.typewriter h1,
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */

}

.typewriter h1{
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.typewriter h2{
  text-align: center;
  animation:
    typing2 3.5s steps(30, end) 2s 1 normal backwards running ,
    blink-caret .75s step-end 2s infinite normal backwards running ;

}











.componentContainer-quiensoy{
  align-items: baseline;
  background-color: #092d47;
  background-size: 100% 100%;
  color: #eff0f2;
  display: flex;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  justify-content: center;
}


.componentContainer-quiensoy section {
  text-align: justify;
  margin-top: 30px;
  width: 80%;
}

.componentContainer-quiensoy section h2{
  text-align: center;
}

.componentContainer-quiensoy section p img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 180px;
}

.componentContainer-quiensoy section p strong{
  font-weight: bolder;
}

.componentContainer-quiensoy section p a:visited{
  color:#d6e3fc;
}






.componentContainer-estudios-y-experiencia{
  align-items: baseline;
  background-color: #092d47;
  background-size: 100% 100%;
  color: #eff0f2;
  display: flex;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  justify-content: center;
}

.componentContainer-estudios-y-experiencia section {
  text-align: justify;
  margin-top: 30px;
  width: 80%;
}

.componentContainer-estudios-y-experiencia section h2{
  text-align: center;
}










@media screen and (max-width: 600px) {
  .componentContainer{
    height: 100%;
  }

  .componentContainer-home{
    font-size: 15px;
  }

  .componentContainer-quiensoy{
    font-size: 18px;
    overflow:auto;
  }

  .componentContainer-quiensoy section p img {
    width: 100px;
  }

  .componentContainer-quiensoy section {
    width: 95%;
  }


}
