/*
    node-sass --watch scss/index.scss --output scss/

    paginas de ejemplo
    https://gndx.io/
    https://beacons.ai/jeznon
    https://anahisalgado.com/
    https://beacons.ai/mae_mazcort
    https://claunicode.com/
    https://fmontes.com/es/about
    https://malvabombom.xyz/

    

*/


/*  VARIABLES */

$headerHeight: 6vh;
$minHeaderHeight: 60px;
$menuBackgroundColor: #222E50;
$presentation-cardBackgroundColor: #fff;
$color: rgb(255, 255, 255);
$fontSize: 16px;
$colorsPalette: ("primary": #222E50, 
                "secondary": #007991, 
                "third": #222E50,
                "fourth": #222E50,
                "fifth": #222E50);

$breakpoints: (
    small: 0px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px,
);


/*  MIXINS  */

@mixin rwd($bp) {
    @if map-has-key($breakpoints, $bp) {
        @media screen and (max-width: map-get($breakpoints, $bp)) {
            @content
        }
    } @else {
        @media screen and (max-width: $bp) {
            @content
        }
    }
    
}




// https://coolors.co/222e50-007991-439a86-bcd8c1-e9d985


/* LO DEMAS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: $fontSize;
}

body {
    color: $color;
    font-family: Arial, Helvetica, sans-serif;
}

#menuToggleIcon {
    display: none;
}

#menuToggleCheckbox {
    display: none;
}


.opacity-zero {
    opacity: 0;
}





header {
    height: $headerHeight;
    display: flex;
    background-color: $menuBackgroundColor;
    box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
    min-height: $minHeaderHeight;

    & > nav {
        flex-grow: 3;

        & > ul {
            display: flex;
            background-color: $menuBackgroundColor;
            & > li {
                display: inline-block;
                text-align: center;
                padding: 20px 80px;
                flex-grow: 1;
                cursor: pointer;

            }
            & > li:hover{
                background-color: darken($menuBackgroundColor, 5%);
            }
        } 
    }

    & > div {
        flex-grow: 2;
        display: flex;
        align-items: center;
        min-height: $minHeaderHeight;

        span {
            flex-grow: 1;
            text-align: center;
            justify-content: center;
            align-items: stretch;

            img {
                cursor: pointer;
                transition: .3s all;
                width: 30%;
    
                &:hover {
                    width: 40%;
                }
            }
        }
    }
}




#main-section {
    height: 94vh;
    background-image: url(../assets/images/homeBackground.jpg);
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 35%;
    align-items: center;
    justify-content: center;
}


.presentation-card {
    background-color: darken($presentation-cardBackgroundColor, 5%);
    color: rgb(44, 44, 44);
    border-radius: 10px;
    transition: 2s opacity;

}

.presentation-card__header {
    background-color: $presentation-cardBackgroundColor;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px 20px 10px 20px;
    display: flex;

    div p:nth-child(1) {
        font-size: 1.5em;
        font-weight: bold;
        color: black;
        padding-bottom: 5px;
    }

    div p:nth-child(2) {
        font-size: 1em;
        color: black;
        padding-bottom: 5px;
    }

    div p:nth-child(3) {
        font-size: 1em;
        font-weight: bold;
        color: black;
        padding-bottom: 5px;
    }

    div p:nth-child(4) {
        font-size: 0.9em;
        color: black;
        padding-bottom: 5px;
    }

    div p:nth-child(5) {
        margin-top: 15px;

        svg {
            cursor: pointer;
            margin-right: 10px;
            fill: rgb(78, 75, 76);
        }

        .instagram-logo:hover {
            fill: rgb(199, 37, 67);
        }

        .twitter-logo:hover {
            fill: rgb(147, 197, 253);
        }

        .linkedin-logo:hover {
            fill: rgb(59, 130, 246);
        }

        .github-logo:hover {
            fill: rgb(150, 117, 201);
        }

        .youtube-logo:hover {
            fill: rgb(255, 0, 0);;
        }
    }


    div img {
        border-radius: 10px;
        width: 120px;
    }
    
}

.presentation-card__description {
    margin: 20px;
}







/*     MEDIA QUERIES     */

@include rwd(xlarge){
    header > nav > ul > li {
        padding: 20px 40px;
    }

}



@include rwd(large){
    #menuToggleCheckbox:checked ~ ul {
        display: flex;
    }

    #menuToggleIcon {
        font-size: 2.3em;
        display: block;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }

    header {
        min-height: 55px;

        & > nav > ul{
            display: none;
            flex-direction: column;
            margin-top: $headerHeight;
        }

        & > div {
            position: absolute;
            min-height: 55px;
            width: 500px;


        }

    }
}

