#whoami-section {
    height: 94vh;
    background-image: url(../../assets/images/stars.jpg);
    background-attachment: fixed;
    background-position: 100vw 1000vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $minHeaderHeight;
}


.whoami-container {
    height: 84vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 85%;
    transition: 0.5s opacity;
    color: $lightColor;

    h2 {
        font-size: 3em;
    }

    p {
        font-size: 2.5em; 
        padding: 20px;
        border-radius: 10px;

        img {
            border-radius: 50%;
            float: left;
            margin-right: 20px;
            width: 180px;
        }
    }
}


@include rwd(medium){

    .whoami-container {
        width: 100%;

        p {
            font-size: 2em;
        }
    }
}