body{
  background-color: #2A2A2A;
  font-size: 12px;
  max-width: 100%;
  overflow-x: hidden;
}

  

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




/* Transition stuff */
.fade-enter {
  left: 100%;
}
.fade-enter-active {
  left: 0%;
  transition: all 300ms;
}
.fade-exit {
  right: 0%;
}
.fade-exit-active {
  right: 100%;
  transition: all 300ms;
}


#wrapper{
  margin-top: 35px;
}


.divFlechas{
  text-align: center;
}


.flecha{
  cursor: pointer;
  margin: 10px;
  transition: all .1s linear; 
  width: 15vh;
}

.flecha:hover{
  transform: scale(1.1);
}

.flecha:active{
  transform: scale(.9);
}





/* Menu stuff */
#mainMenu{
  line-height: 70px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

#mainMenu label {
  color: white;
  display: none;
  font-size: 2em;
}

#mainMenu #toggle {
  display: none;
}

#mainMenu ul{
  background-color: #2586d7;
  display: flex;
  padding: 0;
  margin: 0;
}

#mainMenu ul li{
  text-align: center;
  flex-grow: 1;
  list-style: none;
}

#mainMenu ul li a{
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  padding-right: 0;
  padding-left: 0;
  text-decoration: none;
  transition: all .2s;
  width: 80%;
}

#mainMenu ul li a:hover{
  background-color: #1f72b7;
  width: 100%;
}


.changeLanguageDiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}


.changeLanguageDiv img{
  cursor: pointer;
  transition: transform .2s;
  width: 50px;
}

.changeLanguageDiv img:hover{
  transform: scale(1.2); 
}






.componentContainer{
  color: #b3b3b5;
  font-size: 1.6em;
  height: 100%;
  position: absolute;
  width: 100%
}

.componentContainer-home{
  background-image: url('../public/images/homeBackground.jpg');
  background-size: 100% 100%;
  color: white;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typewriter {
  display: flex;
  flex-direction: column;
}

.typewriter h1,
.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */

}

.typewriter h1{
  animation:
    typing 2s steps(25, end),
    blink-caret .75s step-end 0s 3 normal forwards;
}

.typewriter h2{
  text-align: center;
  animation:
    typing2 3s steps(30, end) 2.5s 1 normal backwards running ,
    blink-caret .75s step-end 2s infinite normal backwards running ;

}











.componentContainer-quiensoy{
  align-items: baseline;
  background-image: url('../public/images/quiensoyBackground.jpg');
  background-size: 100% 100%;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  justify-content: center;
}


.componentContainer-quiensoy section {
  text-align: justify;
  margin-top: 30px;
  width: 80%;
}

.componentContainer-quiensoy section h2{
  text-align: center;
}

.componentContainer-quiensoy section p img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  width: 180px;
}

.componentContainer-quiensoy section p a{
  color:#d6e3fc;
}






.componentContainer-educacion-y-experiencia{
  align-items: baseline;
  background-image: url('../public/images/darkBackground.png');
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  height: auto;
}

.componentContainer-educacion-y-experiencia section {
  text-align: justify;
  margin-top: 30px;
  width: 80%;
}

.componentContainer-educacion-y-experiencia section a {
  color: white;
  text-decoration: none;
}

.componentContainer-educacion-y-experiencia section h2{
  text-align: center;
}
.componentContainer-educacion-y-experiencia section .position,
.componentContainer-educacion-y-experiencia section .certification{
  font-size: .8em;
  margin-bottom: 50px;
}

.componentContainer-educacion-y-experiencia section > h3{
  color:white;
  font-size: 1.8em;
}

.componentContainer-educacion-y-experiencia section .position h3,
.componentContainer-educacion-y-experiencia section .certification h3
{
  margin: 0;
}

.componentContainer-educacion-y-experiencia section .position .fromTo,
.componentContainer-educacion-y-experiencia section .certification .fromTo
{
  margin: 0;
}













.componentContainer-redessociales {
  align-items: center;
  background-image: url('../public/images/redessocialesBackground.jpg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  justify-content: center;
}

.componentContainer-redessociales > div {
  padding: 5px;
  text-align: left;
  width: 100px;
}

.componentContainer-redessociales a{
  color: inherit;
  display: inline-block;
  font-size: 35px;
  text-decoration: none;
  transition: all .1s linear; 
}

.componentContainer-redessociales a:hover{
  color: white;
  transform: scale(1.5);
}












@media screen and (max-width: 700px) {
  
  @keyframes typing2 {
    from { width: 0 }
    to { width: 80% }
  }

  #wrapper{
    margin-top: 70px;
  }

  
  #mainMenu div{
    background-color: #2586d7;
    color: white;
    display: block;
    text-align: right;
    font-size: 2em;
    padding-right: 10px;
    line-height: 50px;
  }

  #mainMenu label{
    background-color: #2586d7;
    cursor: pointer;
    display: block;
    font-size: 3em;
    text-align: right;
    padding-right: 20px;
  }

  #mainMenu ul {
    display: none
  }

  #mainMenu ul li{
    border: 1px dotted black;
  }

  #toggle:checked + ul{
    display: block;
  }

  #mainMenu ul li a{
    font-size: 2em;
  }



  .componentContainer-home h1,
  .componentContainer-home h2{
    font-size: 20px;
  }

  .componentContainer-home{
    background-image: url('../public/images/homeBackground-mobile.jpg');
  }

  .componentContainer-quiensoy{
    font-size: 1.8em;
    overflow: auto;
  }

  .componentContainer-quiensoy section p img {
    width: 100px;
  }

  .componentContainer-quiensoy section {
    width: 95%;
  }

  .componentContainer-redessociales {
    background-image: url('../public/images/redessocialesBackground-mobile.jpg');
  }
   
  .componentContainer-redessociales a{
    font-size: 30px;
  }

}
